<div class="card mt-2 ml-5 mr-5 p-1 shadow-sm rounded-lg" >
  <h1 style="font-family: serif;">Add a new Restaurant</h1>
</div>

<div class="card container mt-3 p-3 shadow rounded-lg">
  <%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category %>
  <div class="d-flex align-items-center justify-content-between">
  <%= f.submit class: "btn btn-primary" %>
  <%= link_to "Back to the list", restaurants_path, class: "btn btn-primary" %>
  </div>
 <% end %>
</div>
